/* Footer design */
.footer-grey {
background: $gray-darker;
color: #F4F4F4;
}

.footer-grey i {
  font-size: 30px;
}

.social i{
  padding: 20px;
  color: #6b6b6b;
}

.social i:hover {
  color: white;
}
