<div class="footer-grey">
      <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <div class="social">
              <i class="fa fa-youtube"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-twitter"></i>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p> This is an Airbnb home challenge by Le Wagon</p>
          </div>
        </div>

      </div>
    </div>
