<div class="team-members">
  <div class="container text-center padded">
    <div class="row">

    <div class="col-xs-12 col-sm-4">
      <h3>Anne</h3>
      <%= image_tag "anne.jpg", id: "anne", class: "avatar-large" %>
    </div>

    <div class="col-xs-4 col-sm-4">
      <h3>Romain</h3>
      <%= image_tag "romain.jpeg", id: "romain", class: "avatar-large" %>
    </div>

    <div class="col-xs-4 col-sm-4">
      <h3>Seb</h3>
      <%= image_tag "seb.jpg", id: "seb", class: "avatar-large" %>
    </div>

    </div>
  </div>

  <div class="container text-center padded">
    <h3><a href="mailto:contact@airbnb.com" class="padded"><i class="fa fa-envelope"></i>Contact us</a></h3>

  </div>

</div>


